.weather{
    place-self: center;
    padding: 40px;
    border-radius: 10px;
   background-image: linear-gradient(45deg,#2f4680,#500ae4);
   align-items: center;
   display: flex;
   flex-direction: column;


}
.search-bar{
    display: flex;
    align-items: center;
    gap: 12px;
}
.search-bar input{
    height: 50px;
    outline: none;
    border: none;
    border-radius: 40px;
    padding-left: 25px;
   color: #626262;
   background:#ebfffc;
   font-size: 18px;
}
.search-bar img{
    width: 50px;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    background:#ebfffc ;
}
.weather-icon{
    width: 150px;
    margin: 30px 0;

}
.tempreture{
    color: #fff;
    font-size: 80px;
    line-height: 1;
}
.location{
    color: #fff;
    font-size: 40px;
}
.weather-data{
    width:100%;
    display: flex;
    margin-top: 40px;;
    color:#fff;
    justify-content: space-between;

}
.weather-data .col{
    display: flex;
    align-items: flex-start;
    gap: 3px;
    font-size: 22px;
}
.weather-data .col span{
    display: block;
    font-size: 16px;

}
.weather-data .col img{
    width: 25px;
    margin-top: 10px;
}


